.App {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.Content {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
